@font-face {
	font-family: Aileron-semi-Bold;
	src: url(../fonts/Aileron-SemiBold.otf);
}
@font-face {
	font-family: Aileron-Regular;
	src: url(../fonts/Aileron-Regular);
}

html, body {
	max-width: 960px;
	overflow: hidden;
	margin: 0;
}
.scoreContainer {
	font-family: Aileron-semi-Bold;
	z-index: 150;
	position: absolute;
	margin: 0;
	top: 20px;
	left: 20px;
	font-size: 1.5em;
}
.welcome {
	z-index: 200;
	position: absolute;
}
.startButton:hover {
	top : 495px;
	left: 345px;
	cursor: pointer;
}
.startButton {
	top: 500px;
	left: 350px;
	position: inherit;
}
.looser {
	opacity: 0;
	z-index: 225;
	position: absolute;
	top : 700px;
	text-align: center;
}
.oneMore {
	opacity: 0;
	z-index: 225;
	position: absolute;
	top : 700px;
	text-align: center;
}
/* Background animation */
.background {
	display: flex;
	justify-content: center;
	position: relative;
	overflow: hidden;
}
.skyBackground {
	height: 768px;
	width: 960px;
	position: relative;
	z-index: 10;
}
.skyBackground:first-child {
	left : 960px;
}
.skyBackground:nth-child(2) {
	position: absolute;
}
/* Monk animation */
.monkContainer {
	width: 63.25px;
	height: 100%;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 300px;
	left: 400px;
	z-index: 100;
}
/* Pillars */
.pillars {
	position: absolute;
	top: 0px;
	left: -100px;
	z-index: 80;
}
/* Credits */
.credits {
	z-index: 225;
	top: 800px;
	opacity: 0;
	font-family: Aileron-semi-Bold;
	position: absolute;
	font-size: 1.2em;
	text-align: center;
}
.credits h3 {
	text-align: center;
	font-weight: normal;
}
.credits ul {
	list-style: none;
	font-family: Aileron-Regular;
	padding-left: 0;
	font-size: 1.1em;
	justify-content: center;
}
/* IE 10 & 11 FIX */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
	.looser {
		/* 960/2 - 291/2 */
		left: 334px; 
	}
	.credits {
		/* 960/2 - 377/2 */
		left: 291.5px;
		margin: auto;
	}
	.oneMore {
		/* 960/2 - 364/2 */
		left: 298px;
		margin: auto;
	}
}